<head>
    <title>Page</title>
    <link rel="icon" type="image/png" href="icon.png">
    <link rel="stylesheet" href="main.css">
</head>
<header> 
    <div class="back">
        <div class="section">
            <h1>Seven Wonders of the Solar System</h1>
        </div>
    </div>
    <br>
    <br>
    <div id="line"></div>
</header>